/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Righteous&display=swap');

/* Color scheme and fonts variables */
:root {
  --primary-clr: #AC7B84;
  --secondary-clr: #B84A62;
  --secondary-clr-light: #DCA5B1;
  --accent-clr: #4C243B;

  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Righteous', sans-serif;

  --fw-n: 400;
  --fw-m: 600;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, .25);
  --br: 0.5em;
}

html {
  font-size: calc(60% + 0.8vmin);
}

h1 {
  font-family: var(--ff-secondary);
  font-size: 3rem;
}

h2 {
  font-family: var(--ff-secondary);
  font-size: 2.75rem;
}

h3 {
  font-family: var(--ff-secondary);
  font-size: 2rem;
}

p {
  font-family: var(--ff-primary);
  font-size: 1.1rem;
  text-align: justify;
}

.button {
  padding: 0.25rem;
  text-decoration: none;
  background-color: var(--secondary-clr);
  color: white;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  border: solid black;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* ----- << Global Settings >> -----*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add smooth scrolling effect to the website */
html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--primary-clr);
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}

.content {
  display: grid;
  flex: 1 0 auto;
}

/* ----- << Home Page Styling >> ----- */

/* Header Styling */

header {
  background-color: var(--accent-clr);
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Logo Styling */

.logo img {
  max-width: 100%;
  height: 5rem;
}

/* Menu Styling */



.nav_container {
  font-family: var(--ff-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  list-style: none;
  display: flex;
}

.nav_menu li {
  margin-right: 20px;
}

.nav_icon {
  text-decoration: none;
  color: white;
}

.top_image {
  width: 100%;
  height: auto;
}



/* Content */

.about_us_container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.about_text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.our_team_heading {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.our_team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.our_team_cards {
  padding: 2rem;
  background-color: #DCA5B1;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.customers_said_hd {
  padding-top: 5rem;
}

.customers_said {
  margin: 0 5rem 0 5rem;
  padding: 1rem;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.customer_profile {
  border-radius: 50%;
}

hr {
  margin: 0 auto;
  height: 0.125rem;
  max-width: 75%;
  border-color: black;
}

.opening_hours {
  padding: 3rem;
}

.opening_hours_time {
  margin: 2rem;
}

/* Footer */

footer {
  height: 7rem;
  background-color: #4C243B;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}

.social_media {
  list-style: none;
  display: flex;
}

.social_media li {
  display: block;
  position: relative;
  font-size: 230%;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  margin: 0 1.125rem;
}

.social_media a {
  color: white;
}

.social_media i {
  transition: all 200ms ease-in-out;
}

.social_media i:hover {
  transform: scale(1.2) rotate(4deg);
}

/* Image gallery */

.title_picture {
  position: relative;
  display: inline-block;
}

.title_picture img {
  display: block;
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: rgb(102, 102, 102) 1px 0 20px;
  color: white;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

.centered h1 {
  font-size: 4.5rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;
  margin: 2rem;
}

.image-gallery>li {
  height: 18.75rem;
  cursor: pointer;
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

/* Services */

.services_heading {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.services {
  margin: 2rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services_cards {
  padding: 2rem;
  background-color: #DCA5B1;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#most_popular {
  background-color: #B84A62;
}

.dog_paw_img {
  margin: 5rem 0rem 2rem 0rem;
}

.services_container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
}

.other_services {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 40rem;
}

/* Contact form */

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--secondary-clr);
  color: white;
  font-family: var(--ff-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label_format {
  display: block;
  margin-bottom: 8px;
}

.form_style {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  padding: 0.25rem;
  background-color: white;
  color: var(--accent-clr);
  font-family: var(--ff-primary);
  font-size: 1.1rem;
}

input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* Response */

.response_text {
  margin: 7rem 2rem 7rem 2rem;
}

.response_text h1 {
  margin: 2rem;
}