/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Righteous&display=swap');

/* Color scheme and fonts variables */
:root {
  --primary-clr: #AC7B84;
  --secondary-clr: #B84A62;
  --secondary-clr-light: #DCA5B1;
  --accent-clr: #4C243B;

  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Righteous', sans-seri;

  --fw-n: 400;
  --fw-m: 600;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, .25);
  --br: 0.5em;
}

/* ----- << Global Settings >> -----*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add smooth scrolling effect to the website */
html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--primary-clr);
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}

header {
  background-color: var(--accent-clr);
  font-family: var(--ff-primary);
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: 5rem;
}


.nav_menu {
  list-style: none;
  display: flex;
}

.nav_menu li {
  margin-right: 20px;
}

.nav_icon {
  text-decoration: none;
  color: white;
}