/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Righteous&display=swap');

/* Color scheme and fonts variables */
:root {
  --primary-clr: #AC7B84;
  --secondary-clr: #B84A62;
  --secondary-clr-light: #DCA5B1;
  --accent-clr: #4C243B;

  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Righteous', sans-serif;

  --fw-n: 400;
  --fw-m: 600;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, .25);
  --br: 0.5em;
}

html {
  font-size: calc(60% + 0.8vmin);
}

h1 {
  font-family: var(--ff-secondary);
  font-size: 3rem;
}

h2 {
  font-family: var(--ff-secondary);
  font-size: 2.75rem;
}

h3 {
  font-family: var(--ff-secondary);
  font-size: 2rem;
}

p {
  font-family: var(--ff-primary);
  font-size: 1.1rem;
  text-align: justify;
}

img {
  width: 100%;
  height: auto;
}

.button {
  margin: 1.25rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-clr);
  color: white;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  border: solid black;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* ----- << Global Settings >> -----*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add smooth scrolling effect to the website */
html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--primary-clr);
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}

.content {
  display: grid;
  flex: 1 0 auto;
}

/* ----- << Home Page Styling >> ----- */

/* Header Styling */

header {
  background-color: var(--accent-clr);
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Logo Styling */

.logo img {
  width: min(50vw, 200px);
  height: auto;
}

/* Menu Styling */

.nav_container {
  font-family: var(--ff-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  list-style: none;
  display: flex;
}

.nav_menu li {
  margin-right: 20px;
}

.nav_icon {
  text-decoration: none;
  color: white;
}

.nav_icon:hover {
  text-decoration: underline;
  color: white;
}

/* Content */

.about_us_container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.about_text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about_text,
.about_us_img {
  width: 100%;
  padding: 20px;
}

.our_team_heading {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.our_team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.our_team_cards {
  padding: 2rem;
  background-color: #DCA5B1;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.staff_members {
  height: 90%;
  width: auto;
}

.customers_said_hd {
  padding-top: 5rem;
}

.customers_said {
  margin: 0 5rem 0 5rem;
  padding: 1rem;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.customer_profile {
  border-radius: 50%;
}

.testimonial {
  font-size: 1.5rem;
}

hr {
  margin: 0 auto;
  height: 0.125rem;
  max-width: 75%;
  border-color: black;
}

.opening_hours {
  text-align: center;
  padding: 3rem;
}

.opening_hours_time {
  margin: 2rem;
}

/* Footer */

footer {
  height: 7rem;
  background-color: #4C243B;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}

.social_media {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social_media li {
  margin: 0 0.625rem;
  display: block;
  position: relative;
  font-size: 230%;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  margin: 0 1.125rem;
}

.social_media a {
  color: white;
}

.social_media i {
  transition: all 200ms ease-in-out;
}

.social_media i:hover {
  transform: scale(1.2) rotate(4deg);
}

/* Hero Styling */

.hero_home {
  position: relative;
  height: 50rem;
  background: url('../images/dog_brushing.webp') center/cover no-repeat;
  text-align: center;
}

.hero_services {
  position: relative;
  height: 50rem;
  background: url('../images/dog_spa_treatment.webp') center/cover no-repeat;
  text-align: center;

}

.hero_gallery {
  position: relative;
  height: 50rem;
  background: url('../images/group-portrait-adorable-puppies.webp') center/cover no-repeat;
  text-align: center;
}

.hero_contact {
  position: relative;
  height: 50rem;
  background: url('../images/contact.webp') center/cover no-repeat;
  text-align: center;
}

.hero_response {
  position: relative;
  height: 25rem;
  background: url('../images/dog_sitting_waiting.webp') center/cover no-repeat;
  text-align: center;
}


/* Image gallery */

.gallery_title {
  margin: 2rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: rgb(102, 102, 102) 1px 0 20px;
  color: white;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

.centered h1 {
  font-size: 4.5rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;
  margin: 2rem;
}

.image-gallery>li {
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  height: 15rem;
  width: 25rem;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery li img:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Services */

.services_heading {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.services {
  margin: 2rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services_cards {
  padding: 2rem;
  background-color: #DCA5B1;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#most_popular {
  background-color: #B84A62;
  color: white;
}

.dog_paw_img {
  margin: 5rem 0rem 2rem 0rem;
}

.dog_paw_img img {
  object-fit: cover;
  height: 30rem;
}

.services_container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
}

.other_services {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 40rem;
}

/* Contact form */

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--secondary-clr);
  color: white;
  font-family: var(--ff-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label_format {
  display: block;
  margin-bottom: 8px;
}

.form_style {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=submit] {
  padding: 0.25rem;
  background-color: white;
  color: var(--accent-clr);
  font-family: var(--ff-primary);
  font-size: 1.1rem;
}

input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.title_form {
  margin: 2rem;
}

/* Response */

.response_text {
  margin: 7rem 2rem 7rem 2rem;
}

.response_text h1 {
  margin: 2rem;
}

/* Responsive styling */

@media only screen and (max-width: 768px) {
  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    order: 1;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }

  .nav_menu {
    display: none;
  }

  .nav_menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: var(--accent-clr);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .about_us_container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }

  .our_team,
  .customers_said {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_menu {
    margin-top: 0.625rem;
  }

  .title_picture {
    text-align: center;
  }

  .about_text,
  .about_us_img,
  .our_team,
  .customers_said,
  .opening_hours {
    margin: 1rem;
    padding: 0.625rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .services_cards {
    margin-bottom: 20px;
  }

  .opening_hours {
    text-align: center;
  }

}